@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?twfq94');
  src:  url('../fonts/icomoon.eot?twfq94#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?twfq94') format('truetype'),
    url('../fonts/icomoon.woff?twfq94') format('woff'),
    url('../fonts/icomoon.svg?twfq94#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

@font-face {
  src: url(../fonts/CorisandeRegular.ttf);
  font-family: Coris;
}

@font-face {
  src: url(../fonts/CorisandeBold.ttf);
  font-family: Bold;
}

@font-face {
  src: url(../fonts/CorisandeLight.ttf);
  font-family: Light;
}

body {
  margin: 0;
  font-family: Coris;
}

ol {
  list-style: none;
}

svg {
  overflow: visible;
  height: inherit;
  margin-right: 12px;
  padding-bottom: 5px;
}

.session path {
  fill: #6B6B6B;
}

.session svg:hover path{
  fill: #2B9AF3;
}

.session p:hover {
  color: #2B9AF3;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 22px;
  font-family: Bold;
  letter-spacing: -0.3px
}

.menu {
  height: inherit;
  display: flex;
  text-align: center;
}

.menu ol {
  display: flex;
  height: inherit;
  margin: 0;
}

.menu li {
  height: inherit;
}

.menu a {
  text-decoration: none;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: #6B6B6B;
  font-size: 13.7px;
  position: relative;
  padding-top: 30px;
}

.menu a:hover {
  background-color: #F4F4F4;
}

.menu svg {
  padding: 0;
  margin: 0;
  position: relative;
  top: -5px;
}

.menu path {
  fill: transparent;
}

.menu a:hover path {
  fill: #B2B2B2;
}

.list-more {
  display: none;
}

.burger-button {
  width: 17px;
  height: 40px;
  border-radius: 50%;
  line-height: 46px;
  text-align: center;
  display: none;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: black;
  font-size: 20px;
}

.session {
  display: flex;
  align-items: center;
  height: inherit;
  color: #6B6B6B;
  margin-left: 52px;
}

.session p {
  margin-left: 12px;
  font-size: 13.7px;
}

.plans {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  background-color: #2D001D;
  font-family: Bold;
}

.features {
  display: flex;
  height: inherit;
}

.features ol {
  display: flex;
  height: inherit;
  margin: 0;
  align-items: center;
  padding: 0;
}

.features li {
  display: flex;
  height: inherit;
  align-items: center;
}

.features a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 0 18px;
  font-size: 14.3px;
  height: inherit;
  letter-spacing: -0.3px
}

.features a:hover {
  background-color: #421A34;
}

button {
  margin-right: 13px;
  margin-left: 15px;
  background-color: #1473E6;
  border: none;
  color: white;
  font-family: Bold;
  padding: 8px 12px;
  border-radius: 25px;
}

.button:hover {
  background-color: #005ABE;
}

.design {
  height: 790px;
  background-image: url(../images/background.jpg);
  background-position-y: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.design p {
  margin: 0;
  font-size: 14.8px;
  margin-bottom: 28px;
  max-width: 880px;
  padding: 0 19%;
}

.design img {
  margin-top: 45px;
  max-width: 80%;
}

h1 {
  padding: 0 19%;
  margin: 77px 0 0 0;
  font-family: Bold;
  font-size: 45px;
}

.content {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Light;
}

.content .explanation h3 {
  margin: 0;
  margin-top: 109px;
  font-weight: 500;
  font-size: 29px;
}

.content .explanation p {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 104px;
  font-size: 14.8px;
  line-height: 1.3;
  max-width: 840px;
  padding: 0 13%;
}

.experience-design {
  display: flex;
  padding: 0 8%;
  justify-content: space-between;
  align-items: center;
}

.experience-design img {
  width: 50%;
}

.experience-description {
  text-align: center;
  margin-right: 35px;
  width: 40%;
}

.experience-description h3 {
  font-family: Light;
  font-size: 29px;
  font-weight: 500;
}

.experience-description p {
  font-size: 14.8px;
  line-height: 1.4;
}

.experience-description a,
.win a,
.photoshop a {
  text-decoration: none;
  letter-spacing: -0.5px;
  color: #189AF3;
}

.experience-description a:hover {
  color: #30C6FE;
}

.prototype {
  display: flex;
  align-items: center;
  margin-top: 211px;
  justify-content: space-between;
  padding: 0 122px;
}

.prototype-description {
  text-align: center;
  margin-left: 23px;
}

.prototype-description h3,
.win h3,
.photoshop h3 {
  font-family: Light;
  font-weight: 500;
  font-size: 29px;
}

.prototype-description p,
.win p,
.photoshop p {
  font-size: 14.8px;
  line-height: 1.4;
}

.prototype-description span {
  color: #189AF3;
}

.prototype-description span:hover {
  color: #30C6FE;
}

.prototype-images {
  margin-top: 40px;
}

.win {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px 0 123px;
  margin-top: 192px;
}

.win a:hover {
  color: #30C6FE;
}

.win-content {
  text-align: center;
}

.photoshop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 259px;
  padding: 0 122px 0 160px;
}

.photoshop a:hover {
  color: #30C6FE;
}

.photoshop-content {
  text-align: center;
}

.learn {
  height: 100px;
  background-color: #444444;
  margin: 130px 176px 70px 176px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.learn a {
  text-decoration: none;
  font-family: Light;
  color: #2B9AF3;
  font-size: 23px;
}

.learn a:hover {
  color: #30C6FE;
}

.phrase {
  height: 400px;
  background-image: url(../images/customerstory.jpg);
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  padding-bottom: 57px;
}

.phrase p {
  margin: 0;
  font-size: 15px;
}

.first-p {
  padding-top: 28px;
}

.possibilities {
  padding-top: 77px;
  display: flex;
  flex-direction: column;
  background-color: #191E22;
  height: 849px;
}

.possibilities-description {
  text-align: center;
  color: white;
}

.possibilities-description h3,
.possibilities-description p {
  font-family: Light;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.possibilities-description a {
  margin-top: 20px;
  display: inline-block;
  font-size: 14.5px;
  color: #189AF3;
  text-decoration: none;
}

.possibilities-description a:hover {
  color: #30C6FE;
}

.possibilities-description h3 {
  font-size: 29px;
}

.possibilities-description p {
  font-size: 14.5px;
}

.poss-images {
  display: flex;
  justify-content: space-between;
  margin: 0 278px;
  color: white;
  font-family: Light;
  margin-top: 50px;
}

.poss-img-desc1,
.poss-img-desc2,
.poss-img-desc3 {
  text-align: center;
}

.poss-images h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 40px;
}

.poss-images p {
  font-size: 14.8px;
  line-height: 1.4;
  margin-top: 7px;
}

.stay-up {
  text-align: center;
  margin-top: 120px;
  color: white;
}

.stay-up h3 {
  font-family: Light;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 10px;
}

.stay-up a,
.creative-cloud a {
  font-size: 14.5px;
  color: #189AF3;
  text-decoration: none;
}

.creative-cloud a:hover {
  color: #30C6FE;
}

.stay-up a:hover {
  color: #30C6FE;
}

.creative-cloud {
  height: 354px;
  background-image: url(../images/segment.jpg);
  background-position-y: center;
  color: white;
  text-align: center;
}

.creative-cloud img {
  margin-top: 78px;
}

.creative-cloud h3 {
  font-size: 29px;
}

.creative-cloud p {
  font-size: 14.5px;
  margin-bottom: 7px;
}

.find-plan {
  background-color: black;
  color: white;
  margin-top: 0;
  height: 468px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 54px;
}

.find-plan h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Light;
  font-weight: 500;
  font-size: 28.4px;
}

.both-fnd {
  display: flex;
  margin-top: 30px;
}

.both-fnd p, .both-fnd h3 {
  border-bottom: 1.5px solid #282828;
  padding-bottom: 8px;
  margin: 8px 0;
}

.fnd-plan-description p {
  margin-top: 8px;
}

.fnd-plan-1,
.fnd-plan-2 {
  width: 322px;
  margin: 0 15px;
}

.fnd-plan-1 button:hover {
  background-color: #005ABE;
}

.both-fnd a:hover {
  color: #30C6FE;
}

.both-fnd h3 {
  font-size: 20px;
  font-weight: 600;
}

.both-fnd p {
  font-size: 15.8px;
}

.both-fnd button {
  margin-top: 45px;
}

.both-fnd a {
  display: inline-block;
  margin-top: 45px;
  font-size: 19px;
  color: #189AF3;
  text-decoration: none;
}

.svg-icons {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 310px;
  padding: 0 140px;
  padding-top: 100px;
}

.all-icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-bottom: 56px;
}

.svg-icons button:hover {
  background-color: #005ABE;
}

.all-icons p {
  font-family: Light;
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.4;
}

.all-icons h3 {
  font-size: 17px;
  margin: 0;
  margin-bottom: 10px;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  width: 224px;
}

.all-icons a {
  font-size: 15px;
  color: #189AF3;
  text-decoration: none;
}

.all-icons a:hover {
  color: #30C6FE;
}

.svg-icons button {
  font-size: 16px;
}

.phones {
  background-color: #151515;
  height: 181px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 54px 217px 0 217px;
}

.phones h3 {
  margin: 0;
  font-family: Light;
  font-weight: 500;
  margin-bottom: 50px;
  font-size: 29px;
}

.phone-numbers {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.phones span {
  font-weight: bold;
}

.phones p {
  font-size: 19px;
  margin: 0;
  margin-bottom: 10px;
}

.space {
  background-color: black;
  height: 114px;
}

.information {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}

.information a:hover {
  color: white;
}

.information-lines {
  display: flex;
  justify-content: space-between;
  padding: 0 19px 20px 0;
}

.information-line {
  padding: 0 19px;
  display: flex;
  justify-content: flex-start;
  border-top: 1.5px solid #282828;
  padding-top: 25px;
  align-items: center;
}

.information-line path {
  fill: #FF0000;
}

.information-line a {
  text-decoration: none;
  color: #999999;
  margin: 0 10px;
  font-size: 12px;
}

.products {
  flex-basis: 263px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1.5px solid #282828;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 20px;
}

.products a,
.blogs a,
.tecnical-assistance a,
.adobe-about a {
  text-decoration: none;
  color: #999999;
  font-size: 13.5px;
  padding: 4px 0;
}

.products h3,
.blogs h3,
.tecnical-assistance h3,
.adobe-about h3 {
  font-size: 14.5px;
}

.blogs {
  flex-basis: 545px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1.5px solid #282828;
  display: flex;
  flex-direction: column;
  height: 252px;
}

.blogs svg:hover path {
  fill: white;
}

.blogs-description {
  display: flex;
  margin-left: 31px;
  margin-right: 31px;
  padding-bottom: 15px;
  border-bottom: 1.5px solid #282828;
}

.blogs-desc-1,
.blogs-desc-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 61px;
}

.blogs-desc-2 {
  margin-left: 65px;
}

.blogs-logos path {
  fill: #999999;
}

.blogs-logos svg {
  margin-right: 5px;
}

.tecnical-assistance {
  flex-basis: 263px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1.5px solid #282828;
  height: 252px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.adobe-about {
  height: 252px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.other-product {
  background-color: black;
}

.other-products {
 background-color: black;
 padding: 0 430px;
 border-top: 1.5px solid #282828;
 border-bottom: 1.5px solid #282828;
 height: 62px;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 20px;
}

.footer {
  background-color: black;
  color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;
  padding: 0 20px;
  font-size: 12px;
}

.footer path {
  fill: #999999;
}

.region {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.region p {
  margin: 0 10px;
}

.region:hover p {
  color: white;
}

.region:hover path {
  fill: white;
}

.privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy p {
  margin: 0 5px;
}

.adchoices {
  display: flex;
  align-items: center;
}

.adchoices path {
  fill: #104F5F;
}

.adchoices svg {
  margin: 0 0 0 7px;
}

@media screen and (max-width: 1165px) {
  .tec-assist {
    display: none;
  }

  .list-more {
    display: inline-block;
  }

  /* .menu li {
    display: none;
  } */
}

@media screen and (max-width: 1083px) {
  .list-solutions {
    display: none;
  }
}

@media screen and (max-width: 1034px) {
  .plans button {
    display: none;
  }

  .features {
    display: none;
  }
}

@media screen and (max-width: 896px) {
  .list-PDF {
    display: none;
  }
}

@media screen and (max-width: 709px) {
 .menu, .session {
   display: none;
 }

 .burger-button {
   display: inline-block;
 }

 .header {
   height: auto;
   padding-bottom: 5px;
 }
}

@media screen and (max-width: 580px) {
  .experience-design {
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
  }

  .experience-design img {
    width: 90%;
  }

  .experience-description {
    text-align: center;
    width: 90%;
    margin: 0;
  }

  h1 {
    padding: 0 3%;
    font-size: 2.2em;
    margin: 57px 0 0 0;
  }

  .design p {
    padding: 0 3%;
    font-size: 0.8em;
  }
}
